<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create New User</title>
</head>
<body>
<br/>
<form  th:method = "GET" th:action="@{/logout}">
    <input type="submit" value="LOGOUT" />
</form>
<br/>
<br/>

<form th:method = "POST" th:action = "@{/admin/new}" th:object="${user}">
    <label for="firstName"> Enter first name: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <br/>
    <br/>
    <label for="lastName"> Enter last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <br/>
    <label for="email"> Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <br/>
    <label for="login"> Enter login: </label>
    <input type="text" th:field="*{login}" id="login"/>
    <br/>
    <br/>
    <label for="password"> Enter password: </label>
    <input type="text" th:field="*{password}"  id="password"/>
    <br/>
    <br/>
    <label for="roleSelect"> Enter role: </label>
    <select id="roleSelect" th:name= "roleSelect"  th:field="*{roles}" multiple="multiple">
        <option th:each="role:${modelRole}"
                th:value="${role.getId()}"
                th:text="${role}">
        </option>
    </select>
    <br/>
    <br/>
    <input type="submit" value="Add"/>

</form>
</body>
</html>