<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        thead {
            background: #f5e8d0;
        }
        td {
            padding: 5px;
            border: 1px solid #333;
        }
        tbody tr:nth-child(even) {
            background: #f0f0f0;
        }
    </style>
</head>

<body>
<br/>
<form  th:method = "GET" th:action="@{/logout}">
    <input type="submit" value="LOGOUT" />
</form>
<br/>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Login</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Delete user</th>
        <th>Change user`s data</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.login}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <span th:each="role : ${user.roles}">
                <p th:text="${role}"></p>
            </span>
        </td>
        <td> <a th:href="@{/admin/delete?id={id}(id=${user.id})}" th:text ="Delete"></a>
        <td> <a th:href="@{/admin/change?id={id}(id=${user.id})}" th:text ="Change"></a>
        </td>
    </tr>
    </tbody>
</table>
<br/>
<form  th:method = "GET" th:action="@{/admin/new}">
    <input type="submit" value="Add user" />
</form>
<br/>

</body>
</html>