<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:th="http://thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="style.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>

<body>

<!--heading-->
<section id="intro">
    <div class="container-fluid" style="background-color: #343A40">
        <div class="row justify-content-between">
            <div class="px-3 py-2 col-md-6">
                <strong class="align-content-center" style="background-color: transparent; color: rgb(251,251,251); font-size: 22px" id="headerEmail"></strong>
                <span class="align-content-center" style="background-color: transparent; color: rgb(251,251,251); font-size: 22px">with roles: </span>
                <block id="headerRoles" style="background-color: transparent; color: rgb(251,251,251); font-size: 22px"></block>
            </div>
            <form class="col-md-1" th:action="@{/logout}" th:method = "POST">
                <input type = "submit" class="d-xl-flex p-2 justify-content-end" style="border: transparent; background-color: transparent; font-size: 20px; color: rgb(154,149,135);" value = "Logout" />
            </form>
        </div>
    </div>
</section>
<!--heading-->

<!--main-->
<section id="main">
    <div class="main-container d-flex">

        <!--navigation sidebar-->
        <div class="sidebar" id="side_nav">
            <div class="header-box py-2"></div>
            <ul class="nav">
                <li class="nav-pills">
                    <button class="button button3 px-3 py-2 d-block active" data-bs-toggle="tab" id="admin-panel" type="button" data-bs-target="#adminpanel"
                            role="tab" aria-controls="admin-panel" aria-selected="true">Admin</button>
                </li>
                <li class="nav-pills">
                    <button class="button button3 px-3 py-2 d-block" data-bs-toggle="tab" id="user-panel" type="button" data-bs-target="#userpanel"
                            role="tab" aria-controls="user-panel" aria-selected="true">User</button>
                </li>
            </ul>
        </div>
        <!--/navigation sidebar-->

        <!--Admin Panel/User Info container-->
        <div class="tab-content" style="width: 100vw;">

            <!--Admin Panel-->
            <div class="tab-pane show active" role="tabpanel" id="adminpanel" aria-labelledby="admin">
                <div class="container-fluid" style="background-color: transparent">
                    <div class="row justify-content-start" style="background-color: transparent; height: 100px;">
                        <h1 class="px-5 py-4" style="font-size: 46px;">Admin panel</h1>
                    </div>
                    <div class="row justify-content-start px-5">
                        <ul class="nav nav-tabs">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" data-bs-toggle="tab" id="users-table" type="button" data-bs-target="#userstable"
                                        role="tab" aria-controls="users-table" aria-selected="true">User table</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" data-bs-toggle="tab" id="new-user" type="button" data-bs-target="#newuser"
                                        role="tab" aria-controls="new-user" aria-selected="true">New User</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabControl">
                            <div class="tab-pane show active" role="tabpanel" id="userstable" aria-labelledby="users-table">
                                <div class="row justify-content-start" style="height: 50px">
                                    <h1 class="d-flex align-items-xl-center" style="font-size: 20px; background-color: #F8F9FA; box-shadow: 0px 0px 0px 1px #D8D8D8 inset">All users</h1>
                                </div>
                                <div class="container" style="background-color: white">

                                    <!--User Table-->
                                    <table class="table table-striped" style="box-shadow: 0px 1px 0px #D8D8D8 inset;">
                                        <h1 style="font-size: 4px"></h1>
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Login</th>
                                            <th scope="col">First name</th>
                                            <th scope="col">Last name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="users-list"></tbody>
                                    </table>
                                    <!--/User Table-->

                                    <!-- Edit User Modal -->
                                    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">

                                        <form id="editForm" class="container" style="width: 400px">

                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                                        <button type="button" class="close btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true"></span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        </br>
                                                        <div class="form-group">
                                                            <label class="d-flex justify-content-center" for="idE" style="font-weight: bold;">ID</label>
                                                            <input type="text" readonly class="form-control" id="idE" name="id" style="background-color: #E9ECEF">
                                                        </div>
                                                        </br>
                                                        <div class="form-group">
                                                            <label class="d-flex justify-content-center" for="loginE" style="font-weight: bold">Login</label>
                                                            <input type="text" class="form-control" id="loginE" name="login">
                                                        </div>
                                                        </br>
                                                        <div class="form-group">
                                                            <label class="d-flex justify-content-center" for="firstNameE" style="font-weight: bold">First name</label>
                                                            <input type="text" class="form-control" id="firstNameE" name="firstName">
                                                        </div>
                                                        </br>
                                                        <div class="form-group">
                                                            <label class="d-flex justify-content-center" for="lastNameE" style="font-weight: bold">Last name</label>
                                                            <input type="text" class="form-control" id="lastNameE" name="lastName">
                                                        </div>
                                                        </br>
                                                        <div class="form-group">
                                                            <label class="d-flex justify-content-center" for="emailE" style="font-weight: bold">Email</label>
                                                            <input type="email" class="form-control" id="emailE" name="email">
                                                        </div>
                                                        </br>
                                                        <div class="form-group">
                                                            <label class="d-flex justify-content-center" for="passwordE" style="font-weight: bold">Password</label>
                                                            <input type="password" class="form-control" id="passwordE" name="password" placeholder="password">
                                                        </div>
                                                        </br>
                                                        <div class="form-group">
                                                            <label class="d-flex justify-content-center" for="roleE" style="font-weight: bold">Role</label>
                                                            <select multiple="multiple" name="updatedRoles" class="form-control" id="roleE" style="height: 60px;">
                                                                <option id="selectRoleUserE" value="user">user</option>
                                                                <option id="selectRoleAdminE" value="admin">admin</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Edit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /Edit User Modal -->

                                    <!-- Delete User Modal -->
                                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">

                                        <form id="deleteForm" class="container" style="width: 400px">

                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                                                        <button type="button" class="close btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true"></span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form class="container" style="width: 400px">
                                                            </br>
                                                            <div class="form-group">
                                                                <label class="d-flex justify-content-center" for="idD" style="font-weight: bold;">ID</label>
                                                                <input type="text" class="form-control" id="idD" placeholder="id" readonly style="color: #636E7A; background-color: #E9ECEF">
                                                            </div>
                                                            </br>
                                                            <div class="form-group">
                                                                <label class="d-flex justify-content-center" for="loginD" style="font-weight: bold">Login</label>
                                                                <input type="text" class="form-control" id="loginD" placeholder="username"readonly style="color: #636E7A; background-color: #E9ECEF">
                                                            </div>
                                                            </br>
                                                            <div class="form-group">
                                                                <label class="d-flex justify-content-center" for="firstNameD" style="font-weight: bold">First name</label>
                                                                <input type="text" class="form-control" id="firstNameD" placeholder="username"readonly style="color: #636E7A; background-color: #E9ECEF">
                                                            </div>
                                                            </br>
                                                            <div class="form-group">
                                                                <label class="d-flex justify-content-center" for="lastNameD" style="font-weight: bold">Last name</label>
                                                                <input type="text" class="form-control" id="lastNameD" placeholder="username"readonly style="color: #636E7A; background-color: #E9ECEF">
                                                            </div>
                                                            </br>
                                                            <div class="form-group">
                                                                <label class="d-flex justify-content-center" for="emailD" style="font-weight: bold">Email</label>
                                                                <input type="email" class="form-control" id="emailD" placeholder="email" readonly style="color: #636E7A;background-color: #E9ECEF">
                                                            </div>
                                                            </br>
                                                            <div class="form-group">
                                                                <label class="d-flex justify-content-center" for="roleD" style="font-weight: bold">Role</label>
                                                                <select multiple="multiple" name="roleDeletedUser" id="roleD" class="form-control" style="height: 60px;">
                                                                    <option id="selectRoleUserD" th:value="user">user</option>
                                                                    <option id="selectRoleAdminD" th:value="admin">admin</option>
                                                                </select>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /Delete User Modal -->

                                </div>
                            </div>
                            <div class="tab-pane show" role="tabpanel" id="newuser" aria-labelledby="new-user">
                                <div class="row justify-content-start" style="height: 50px">
                                    <h1 class="d-flex align-items-xl-center" style="font-size: 20px; background-color: #F8F9FA; box-shadow: 0px 0px 0px 1px #D8D8D8 inset;">Add new user</h1>
                                </div>

                                <!--New User Form-->
                                <form class="container need-validation" id="newUserForm"  style="width: 400px">
                                    </br>
                                    <div class="form-group">
                                        <label class="d-flex justify-content-center" for="firstNameN" style="font-weight: bold">First name</label>
                                        <input type="text" class="form-control" id="firstNameN" name="firstName" placeholder="enter first name" required>
                                        <div class="invalid-feedback" style="color:red">invalid first name</div>
                                    </div>
                                    </br>
                                    <div class="form-group">
                                        <label class="d-flex justify-content-center" for="lastNameN" style="font-weight: bold">Last name</label>
                                        <input type="text" class="form-control" id="lastNameN" name="lastName" placeholder="enter last name" required>
                                        <div class="invalid-feedback" style="color:red">invalid last name</div>
                                    </div>
                                    </br>
                                    <div class="form-group">
                                        <label class="d-flex justify-content-center" for="emailN" style="font-weight: bold">Email</label>
                                        <input type="email" class="form-control" id="emailN" name="email" placeholder="enter email" required>
                                        <div class="invalid-feedback"  style="color:red">invalid email</div>
                                    </div>
                                    </br>
                                    <div class="form-group">
                                        <label class="d-flex justify-content-center" for="loginN" style="font-weight: bold">Login</label>
                                        <input type="text" class="form-control" id="loginN" name="login" placeholder="enter login" required>
                                        <div class="invalid-feedback"  style="color:red">invalid login</div>
                                    </div>
                                    </br>
                                    <div class="form-group">
                                        <label class="d-flex justify-content-center" for="passwordN" style="font-weight: bold">Password</label>
                                        <input type="password" class="form-control" id="passwordN" name="password" placeholder="enter password" required>
                                        <div class="invalid-feedback"  style="color:red">invalid password</div>
                                    </div>
                                    </br>
                                    <div class="form-group">
                                        <label class="d-flex justify-content-center" for="roleN" style="font-weight: bold">Role</label>
                                        <select multiple="multiple" name="newRoles" class="form-control" id="roleN" style="height: 60px;" required>
                                            <option id="selectRoleUserN" value="user">user</option>
                                            <option id="selectRoleAdminN" value="admin">admin</option>
                                        </select>
                                    </div>
                                    </br>
                                    <div class="button d-flex justify-content-center">
                                        <button type="submit" class="btn btn-success">Add new user</button>
                                    </div>
                                    </br>
                                </form>
                                <!--/New User Form-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Admin Panel-->

            <!--User Panel-->
            <div class="tab-pane show" role="tabpanel" id="userpanel" aria-labelledby="user">
                <div class="container-fluid" style="background-color: transparent">
                    <div class="row justify-content-start" style="background-color: transparent; height: 100px;">
                        <h1 class="px-5 py-4" style="font-size: 46px;">User information-page</h1>
                    </div>
                    <div class="row" style="background-color: transparent">
                        <div class="container" style="padding-right: 50px; padding-left: 50px ">
                            <header class="px-2 py-1 " style="background-color: #F8F9FA; box-shadow: 0px 0px 0px 1px #D8D8D8 inset;
                      border-top-left-radius: 4px; border-top-right-radius: 4px"><h1 style="font-size: 20px; padding-top: 5px">About user</h1></header>
                            <div class="container-fluid" style="padding: 20px; background-color: white; box-shadow: 0px 0px 0px 1px #D8D8D8 inset">
                                <div class="row justify-content-center">
                                    <div class="col-md-10">
                                        <table class="table table-striped" style="box-shadow: 0px 1px 0px #D8D8D8 inset;">
                                            <h1 style="font-size: 4px"></h1>
                                            <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">Login</th>
                                                <th scope="col">First name</th>
                                                <th scope="col">Last name</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Role</th>
                                            </tr>
                                            </thead>
                                            <tbody id="userInfo"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--User Panel-->

            <!--/Admin/User container-->

        </div>
    </div>
</section>
<!--main-->

<script type="text/javascript" src="admin.js" th:src="@{admin.js}"></script>

</body>
</html>